@font-face {
  font-family: myFont;
  src: url(ScheherazadeNew-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ayah-sec {
  margin-bottom: 100px;
  max-width: 900px;
  width: 100%;
}
.top-sec {
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.808);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
}

.top-sec > div {
  display: flex;
}

.top-sec button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: black;
}

.top-sec button:active {
  transform: scale(95%);
}

.play {
  background: rgb(123, 229, 123);
}

.repeat {
  width: 50px;
  padding: 5px;
}
.repeat:focus {
  outline: none;
}

.a-para {
  font-size: 1.5rem;
  font-family: myFont;
  text-align: end;
  color: #383838;
  display: flex;
  flex-direction: column;
}

.number {
  font-size: 1rem;
}

.ayah {
  display: flex;
  flex-direction: column-reverse;
  padding: 0px 10px;

  cursor: pointer;
}
.ayah .left-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: row-reverse;
}

.translation {
  margin-top: 10px;
  flex-direction: column;
  line-height: 1.5;
}

.t-number {
  background: rgb(206, 206, 206);
  padding: 5px;
  border-radius: 50%;
}

.ayah .right-sec {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.border {
  background: rgb(248, 253, 248);
  border-top: solid rgb(222, 252, 177) 2px;
  border-bottom: solid rgb(222, 252, 177) 2px;
}

.pick {
  display: flex;
  gap: 20px;
  color: red;
}

@media (max-width: 500px) {
  .top-sec {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .ayah-sec {
    margin-bottom: 150px;
  }
}
